/*-----------------------------------⬇-Font managing-⬇--------------------------------------*/

@font-face { 
    font-family: 'sources sans pro';
    src: url(./fonts/sourcesanspro.woff);
}

@font-face { 
    font-family: 'sources sans pro light';
    src: url(./fonts/sourcesanspro_light.woff);
}

@font-face { 
    font-family: 'sources sans pro regular';
    src: url(./fonts/sourcesanspro_regular.woff);
}
/*---------------------------------------⬇-Base-⬇-------------------------------------------*/

html * {
    width: 100%;
    height: 100%;
    padding: 0%;
    font-family: 'sources sans pro regular';
}

b, h1, h2 {
    font-family: 'sources sans pro';
}

/*---------------------------------------⬇-Header-⬇-----------------------------------------*/

header{
    width: 100%;
/*    border: 5px solid blue;*/
}

#cleaner {
    background-image: url("./banner_cleaner.png");
    object-fit: fill;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

#owner {
    background-image: url("./banner_owner.png");
    object-fit: fill;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

#admin {
    background-image: url("./banner_admin.png");
    object-fit: fill;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

#invite {
    background-image: url("./banner_uk.png");
    object-fit: fill;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

#owner {
    background-color: #11C0DE;
    width: 100%;
    height:100%;
}

#logo {
    width: 30%;
    display: inline;
    margin: 0%;
}

ul {
    display: inline-flex;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    margin-left: 0px;

}

header li {
    list-style-type: none;
    justify-content: center;
    object-fit: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    color:azure;
    width: 100%
}


/*--------------------------------------⬇-HomePage-⬇----------------------------------------*/

h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 0px;
   
}

h1 {
    font-size: 1.25em;
}

.sec1 > div {
    width: 50%;
    height: 500px;
    background: none;
    padding: 10% 7% 0px 7%;
}

.sec1 {
    margin:0%;
    width:auto;
    height: 500px;
    background-image: url("./bg_home.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.sec2 {
    display: flex;
    margin: auto;
}

.buttonContainer {
    display: grid;
    text-align: center;
}

.buttonContainer p {
    font-size: 0.90em;
    padding: 0px 10% 0px 10%;
    width: 80%;
}

.buttonContainer * {
    margin-left: auto;
    margin-right: auto;
}

#connectionForm, #registrationForm {
    width: 60%;
    height: 90%;
    border: 1px solid black;
    border-radius: 40px;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'sources sans pro', serif;
    display: grid;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    background-color: white;
    position: relative;
    top: -180px;
}

#registrationForm {
    width: 50%;
    height: 100%;
    top: -270px;
}

#MainContent {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 40px;
    font-family: 'sources sans pro', serif;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

#connectionForm h1, #registrationForm h1, #property caption, #connectionForm, #registrationForm{
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.inputField, .inputFieldRegC, .button, #backButton{
    font-size: 1.25em;;
    border: none;
    border-radius: 25px;
    background-color: #B6B3B4;
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-left: 10px;
    text-align: center;
    height: 40%;
    width: 90%;
    justify-content: center;
}

.inputFieldReg, .inputFieldRegC, .buttonReg{
    font-size: 1.25em;
    border: none;
    border-radius: 25px;
    background-color: #B6B3B4;
    margin-top: 0%;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-left: 10px;
    text-align: center;
    height: 8%;
    width: 90%;
    justify-content: center;
}

.inputFieldRegC {
    height: 4.5%;
}

.button, .buttonReg{ 
    color: white;
    background-color: #11C0DE;
    margin-top: 6%;
}

#buttonCleaner, #buttonOwner {
    border-radius: 25px;
    border: none;
    width: 50%;
    font-size: 1em;
    padding: 10px;
    font-family: 'sources sans pro';
}

#buttonCleaner {
    background-color: #42AF8C;
    color:azure;
} 

#buttonOwner {
    background-color: #11C0DE;
    color:azure;
} 

.alert {
    background-color: rgb(201, 146, 146);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 6px;
    object-fit: fill;
    border: 1px solid black;
    text-align: center;   
}

/*------------------------------------⬇-Owner Main-⬇----------------------------------------*/

.sec1owner {
    margin-top:0%;
    width:auto;
    height: 500px;
    background-image: url("./bg_connected.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.sec1title {
    margin-top: 0%;
    padding-top: 10%;
    font-size: 3.5rem;
}

#createMission {
    width: 50%;
    height: 15%;
    border-radius: 50px;
    border: 2px solid #11C0DE;
    background-color :white;
    margin: auto;
    margin-top: -170px;
    padding: 0px;
    display: flex;
}

#createMission form :not(.button){
    display: flex;
    border: none;
    border-right: 3px solid #C8C8C8;
    background-color: none;
    font-size: 1em;
    color: #A6A6A6;
    width: 250px;
    padding: 0px 20px 0px 20px;
    margin: auto;
    height: 60%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('./calendar_icon_owner.png');
    background-size: 100%;
 }


#createMission * {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

#createMission .button {
    margin-right: 3%;
}

.sec2owner {
    margin: -75px 10% 10% 10%;
    display: flex;
    justify-content: space-between;
}

.sec2owner ul {
    display: inline;
    margin: 0px;
}

.sec2owner li {
    list-style: inside;
    color: black;
    font-family: 'sources sans pro regular';
    margin: 0px;
}

#sec2owner_container {
    margin: 0px 20% 0px 20%;
    display: inline;
    text-align: left;
}

#sec2owner_container h2 {
    text-align: left;
}

#cleaner_pic {
    width: 40%;
    padding-left: 20%;
}

/*------------------------------------⬇-Adding Property-⬇----------------------------------------*/

.sec1addProp {
    margin-top:0%;
    width:auto;
    height: 500px;
    background-image: url("./bg_connected.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.sec1addProp .sec1title {
    padding-top: 5%;
}

#propertyForm {
    width: 25%;
    height: 70%;
    border: 1px solid black;
    border-radius: 80px;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'sources sans pro', serif;
    display: grid;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    background-color: white;
    position: relative;
    margin-top: -340px;
}

#propertyForm .inputField, #propertyForm .button {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 80%;
    width: 100%;
}

#mission1, #mission0 {
    height: 30px;
    width: 100%;
    background-color: rgb(2, 98, 2);
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -10px;
    z-index: 0;
 
}

#mission0 {
    background-color: rgb(128, 3, 3);
}

/*------------------------------------⬇-Dropdown Menu-⬇----------------------------------------*/

#dropdown_menu_container{
    --hovered:0;
    display: none; 
    position: absolute;
    right: 15px;
    top: 10%;
/*    margin-top: -10px;*/
    width: 15%;
    height: auto;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: white;
    line-height: 25px;
    z-index: 1;
}

#dropdown_menu_container{
    --hovered: 0;
}

#dropdown_menu_container:hover{
    --hovered: 1;
}

#dropdown_menu_container a{
    text-decoration: none;
    color: black;
}

#dropdown_menu{
    width: 90%;
    object-fit: fill;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    color: black;
    text-align: left;
    z-index: 1;
}

#dropdown_menu a:hover:after{
    padding-right: 10px;
}

#dropdown_menu a:hover{
    font-family: 'sources sans pro';
}

#dropdown_menu a:after{
    padding: 0px;
    float: right;
    color: black;
    content: ">";
}

#menu_button{
    position: absolute;
    right: 15px;
    top: 7%;

    margin: 0px;
    padding: 0px;

    width: 3%;
    height: auto;

    background-color: transparent;
    border: none;
    border-radius: 5px;

    z-index: 1;
}

/*------------------------------------⬇-Cleaner mission-⬇----------------------------------------*/


.mission_list{
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    align-items: center;
    margin-left: 10%;
}

.mission_proposal{
    margin-left: 3%;
/*    background: blue;*/
    display: flex;
    justify-content: right;
}

.mission_proposal > button{
/*    background: red;*/
    width: 20%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-top: auto;
    margin-left: auto;
}

/*------------------------------------⬇-Cleaner profile-⬇----------------------------------------*/

.profile_input{
    width: 60%;
}
