/*-----------------------------------⬇-Font managing-⬇--------------------------------------*/

@font-face { 
    font-family: 'sources sans pro';
    src: url(./fonts/sourcesanspro.woff);
}
/*---------------------------------------⬇-Base-⬇-------------------------------------------*/

html * {
    width: 100%;
    height: 100%;
    padding: 0%;
}

/*---------------------------------------⬇-Header-⬇-----------------------------------------*/

#cleaner {
    background-image: url("./banner_cleaner.png");
    object-fit: fill;
    background-size: 100%;
    width: 100%;
    height:100%;
}

#owner {
    background-image: url("./banner_owner.png");
    object-fit: fill;
    background-size: 100%;
    width: 100%;
    height:100%;
}

#admin {
    background-image: url("./banner_admin.png");
    object-fit: fill;
    background-size: 100%;
    width: 100%;
    height:100%;
}

#invite {
    background-image: url("./banner_uk.png");
    object-fit: fill;
    background-size: 100%;
    width: 100%;
    height:100%;
}

#owner {
    background-color: #11C0DE;
    width: 100%;
    height:100%;
}

#logo {
    width: 30%;
    display: inline;
    margin: 0%;
}

ul {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
    object-fit: 100%;
    height: 100%;
    width: 100%
}

#logo1 {
    margin-left: 2%;
}

#logo2 {
    margin-right: 2%;
}
/*--------------------------------------⬇-HomePage-⬇----------------------------------------*/

#connectionForm {
    width: 20%;
    height: 70%;
    border: 1px solid black;
    border-radius: 40px;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'sources sans pro', serif;
    display: grid;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;

}

#connectionForm h1{
    text-align: center;
    margin-top: 0px;
}

.connectionField, #button {
    font-size: 1.25em;;
    border: none;
    border-radius: 25px;
    background-color: #B6B3B4;
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 3%;
    padding-left: 10px;
    height: 50%;
    width: 90%;
    justify-content: center;
}

#button { 
    color: white;
    background-color: #11C0DE;
}